@page
@model DN_QT1_ASPWeb.Pages.CreateCustomerModel
@{
}
<form method="post">
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Customer ID</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="CustID" value="@Model.customer.CustID" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Customer Name</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="CustName" value="@Model.customer.CustName" />
		</div>
	</div>
	<div class="row mb-3">
		<label class="col-sm-3 col-form-label">Address</label>
		<div class="col-sm-6">
			<input type="text" class="form-control" name="Address" value="@Model.customer.Address" />
		</div>
	</div>
	
	<div class="row mb-3">
		<div class="offset-sm-3 d-grid col-sm-3">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
		<div class="d-grid col-sm-3">
			<a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
		</div>
	</div>
</form>
